.app__navbar {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--color-crimson);
   /* padding: 1rem 2rem; */
}

/* .app__navbar-links {}

.p__opensans {} */